---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
1. Xu Y, Kuipers O P. Design and Biosynthesis of Ornithine 8-Containing Semaglutide Variants with a Click Chemistry-Modifiable Position 26[J]. ACS Synthetic Biology, 2025, 14(5): 1790-1801.
2. Xu Y, Ruijne F, Diez M G, et al. Design and Production of Geranylated Cyclic Peptides by the RiPP Enzymes SyncM and PirF[J]. Biomacromolecules, 2025, 26(5): 3186-3199.
3. Xu Y, Reuvekamp R, Kuipers O P. Biosynthesis of antimicrobial ornithine-containing lacticin 481 analogues by use of a combinatorial biosynthetic pathway in Escherichia coli[J]. ACS Synthetic Biology, 2024, 13(12): 4209-4217.
4. Vargiu M, Xu Y, Kuipers O P, et al. Selective Aza‐Michael Addition to Dehydrated Amino Acids in Natural Antimicrobial Peptides[J]. ChemBioChem, 2024, 25(7): e202400043.
5. Fu Y, Xu Y, Ruijne F, et al. Engineering lanthipeptides by introducing a large variety of RiPP modifications to obtain new-to-nature bioactive peptides[J]. FEMS Microbiology Reviews, 2023, 47(3): fuad017.
6. Zhao X, Xu Y, Viel J H, et al. Semisynthetic macrocyclic lipo-lanthipeptides display antimicrobial activity against bacterial pathogens[J]. ACS Synthetic Biology, 2021, 10(8): 1980-1991.
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



